# Database Configuration
DB_HOST=mysql://root:qLdgYsjVHfwfckIOkWUgUaTOJPRibKCz@crossover.proxy.rlwy.net:52018/railway
DB_USER=your-root
DB_PASSWORD=qLdgYsjVHfwfckIOkWUgUaTOJPRibKCz
DB_NAME=MySQL
DB_PORT=3306

# Server Configuration
PORT=3000
NODE_ENV=production
